@mixin title(
  $color: #fff,
  $mobile-font-size: 25px,
  $desktop-font-size: 34px,
  $uppercase: false,
  $bold: false,
  $line-height: 1.25
) {
  color: $color;
  font-size: $mobile-font-size;
  line-height: $line-height;
  @if ($uppercase) {
    text-transform: uppercase;
  }
  @if ($bold) {
    font-weight: 700;
  }
  @media (min-width: 992px) {
    font-size: $desktop-font-size;
  }
}
@mixin text($color: #fff, $mobile-font-size: 13px, $desktop-font-size: 16px, $line-height: 1.5) {
  color: $color;
  font-size: $mobile-font-size;
  line-height: $line-height;
  @media (min-width: 992px) {
    font-size: $desktop-font-size;
  }
}

@mixin background-filter($color, $alpha, $fallback-alpha) {
  @if ($blur != 0) {
    background-color: rgba($color, $fallback-alpha);
    @supports (backdrop-filter: blur(12px)) {
      background-color: rgba($color, $alpha);
      backdrop-filter: blur($blur);
    }
  }
}

@mixin custom-links($color: #fff, $bg-color: $yellow) {
  a {
    position: relative;
    padding: 0 3px;
    color: $color;
    text-decoration: none;
    font-weight: 700;
    white-space: nowrap;
    z-index: 0;
    transition: color 160ms $transition-easing;
    border-radius: $radius / 2;
    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: calc(100% + 4px);
      max-height: 2px;
      background-color: $bg-color;
      border-radius: $radius / 2;
      pointer-events: none;
      touch-action: none;
      z-index: -1;
      transition: max-height 160ms $transition-easing, box-shadow 160ms $transition-easing;
    }
    &:hover,
    &:focus {
      &::after {
        max-height: calc(100% + 4px);
      }
    }
    &:hover,
    &:focus {
      color: $primary;
    }
    &:focus {
      outline: none;
      &::after {
        box-shadow: $focus-ring;
      }
    }
  }
  &[contentEditable='true'] a {
    cursor: text;
    user-select: auto;
  }
}
