.notification {
  position: absolute;
  top: 25px;
  right: 25px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  padding: 12px 17px;
  color: #fff;
  line-height: 1;
  background-color: rgba($primary, 0.8);
  border-radius: $radius;
  transition: opacity 160ms $transition-easing, transform 160ms $transition-easing;
  animation: notification-appearance 160ms $transition-easing;
  z-index: 1;
}
@keyframes notification-appearance {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
}
.notification--closing {
  opacity: 0;
  transform: translateX(50px);
}
.notification__title {
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 700;
}
.notification__label {
  font-size: 12px;
}
