.compatibility {
  padding: 50px 15px;
  @media (min-width: 1100px) {
    padding: 100px 15px;
  }
  @media (min-width: 1200px + 30px) {
    padding: 100px 0;
  }
}
.compatibility__title,
.compatibility__subtitle {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.compatibility__title {
  margin-bottom: 15px;
  @include title;
}
.compatibility__subtitle {
  @include title(#fff, 14px, 17px);
}
.compatibility__subtitle > span {
  padding: 3px 5px;
  @include title(#fff, 12px, 15px);
  font-family: $mono-font;
  background-color: $primary-light;
  border-radius: 3px;
}
.compatibility__inner {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0;
  color: #fff;
}
.compatibility__inner-title {
  margin-bottom: 6px;
  @include title(#fff, 17px, 20px, false, true);
}
.compatibility__description {
  margin-bottom: 20px;
  @include text($line-height: 1.75);
  @include custom-links;
}
.compatibility__description > span {
  padding: 2px 4px;
  @include text(#fff, 12px, 15px);
  font-family: $mono-font;
  background-color: $primary-light;
  border-radius: 3px;
}

.compatibility__title,
.compatibility__subtitle,
.compatibility__inner {
  opacity: 0;
  transform: translateY(100px);
}
@for $i from 1 through 3 {
  .compatibility > *:nth-child(#{$i}) {
    transition: opacity 160ms #{160 * ($i - 1)}ms $transition-easing,
      transform 160ms #{160 * ($i - 1)}ms $transition-easing;
  }
}
.compatibility--in-view .compatibility__title,
.compatibility--in-view .compatibility__subtitle,
.compatibility--in-view .compatibility__inner {
  opacity: 1;
  transform: none;
}
