.features {
  padding: 50px 15px;
  @media (min-width: 1100px) {
    padding: 100px 15px;
  }
  @media (min-width: 1000px + 30px) {
    padding: 100px 0;
  }
}
.features__title,
.features__subtitle {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.features__title {
  margin-bottom: 15px;
  @include title;
}
.features__subtitle {
  @include title(#fff, 14px, 17px);
}
.features__subtitle > span {
  padding: 3px 5px;
  @include title(#fff, 12px, 15px);
  font-family: $mono-font;
  background-color: $primary-light;
  border-radius: 3px;
}
.features__inner {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 25px 0;
}
.feature {
  position: relative;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 15px;
  background-color: rgba($primary-light, 0.4);
  border-radius: $radius;
  overflow: hidden;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 160ms $transition-easing, transform 160ms $transition-easing;
}
.feature:nth-of-type(even) {
  margin-left: auto;
  margin-right: 0;
}
.feature--in-view {
  opacity: 1;
  transform: none;
}
.feature::before {
  content: attr(data-id);
  position: absolute;
  top: -14px;
  left: -4px;
  @include title(rgba(#fff, 0.1), 30px, 60px, false, true);
  font-family: $mono-font;
}
.feature:nth-of-type(even)::before {
  left: unset;
  right: -4px;
}
.feature:not(:last-of-type) {
  margin-bottom: 20px;
}
.feature__left,
.feature__right {
  flex: 0 0 50%;
}
.feature__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}
.feature:nth-of-type(even) .feature__left {
  order: 1;
}
.feature__title {
  margin-bottom: 10px;
  @include title(#fff, 15px, 19px, true, true);
}
.feature__description {
  @include text;
}
.feature__description span {
  display: block;
  padding: 10px 15px;
  background-color: $primary;
  border-radius: 5px;
}
.feature__right > img {
  border-radius: 5px;
}
