.features {
  padding: 50px 15px;
  @media (min-width: 1100px) {
    padding: 100px 15px;
  }
  @media (min-width: 1200px + 30px) {
    padding: 100px 0;
  }
}
.features__title,
.features__subtitle {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.features__title {
  margin-bottom: 15px;
  @include title($primary);
}
.features__subtitle {
  @include title($primary, 14px, 17px);
}
.features__subtitle > span {
  padding: 3px 5px;
  @include title($primary, 12px, 15px);
  font-family: $mono-font;
  background-color: rgba($primary, 0.05);
  border-radius: 3px;
}
.features__inner {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 25px 0;
  @media (min-width: 992px) {
    padding: 50px 0;
  }
}
.feature {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  @media (min-width: 750px) {
    max-width: 1000px;
    margin: 0;
  }
}
.feature:not(:last-of-type) {
  margin-bottom: 25px;
  @media (min-width: 992px) {
    margin-bottom: 50px;
  }
}
.feature:nth-of-type(even) {
  @media (min-width: 750px) {
    margin-left: auto;
    margin-right: 0;
  }
}
.feature__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  background-color: #fff;
  border-radius: $radius;
  filter: drop-shadow($shadow-medium);
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 160ms $transition-easing, transform 160ms $transition-easing;
  @media (min-width: 750px) {
    flex-direction: row;
    padding: 15px;
    overflow: hidden;
  }
}
.feature--in-view .feature__inner {
  opacity: 1;
  transform: none;
}
.feature__inner::before {
  @media (min-width: 750px) {
    content: attr(data-id);
    position: absolute;
    top: -18px;
    left: -6px;
    @include title(rgba($primary, 0.05), 30px, 70px, false, true);
    font-family: $mono-font;
  }
}
.feature:nth-of-type(even) .feature__inner::before {
  left: unset;
  right: -6px;
}
.feature__left,
.feature__right {
  flex: 0 0 50%;
}
.feature__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}
.feature__left {
  order: 1;
  @media (min-width: 750px) {
    order: 0;
  }
}
.feature:nth-of-type(even) .feature__left {
  order: 1;
}
.feature__title {
  margin-bottom: 10px;
  @include title($primary, 16px, 22px, true, true);
  font-family: $mono-font;
}
.feature__description {
  @include text($primary);
}
.feature__description > span {
  display: block;
  padding: 10px 15px;
  @include text($primary, 11px, 14px);
  background-color: rgba($primary, 0.05);
  border-radius: 5px;
}
.feature__description > span > span {
  padding: 3px 5px;
  font-weight: 700;
  font-family: $mono-font;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 3px;
}
.feature__right > img {
  border-radius: $radius $radius 0 0;
  @media (min-width: 750px) {
    border-radius: 5px;
  }
}
