.introduction {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.introduction__title {
  margin-bottom: 10px;
  @include title;
  font-family: $mono-font;
}
.introduction__tagline {
  @include text;
}
.introduction__tagline > a {
  padding: 3px 5px;
  @include text(#fff, 11px, 14px);
  text-decoration: none;
  font-family: $mono-font;
  background-color: $primary-light;
  border-radius: 3px;
  transition: color 160ms $transition-easing;
}
.introduction__tagline > a:hover {
  color: $yellow;
}
.introduction__data {
  display: flex;
  margin-top: 20px;
}
.introduction__data-item {
  display: flex;
  align-items: stretch;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}
.introduction__data-item-left,
.introduction__data-item-right {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: $primary-light;
  transition: color 160ms $transition-easing, background-color 160ms $transition-easing;
}
.introduction__data-item:hover .introduction__data-item-left,
.introduction__data-item:hover .introduction__data-item-right {
  color: $primary;
  background-color: $yellow;
}
.introduction__data-item-left {
  border-radius: 3px 0 0 3px;
}
.introduction__data-item-left > svg {
  width: 12px;
  height: 12px;
  fill: currentColor;
}
.introduction__data-item-right {
  font-size: 12px;
  font-family: $mono-font;
  border-radius: 0 3px 3px 0;
  border-left: 1px solid $primary;
}
.introduction__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  @media (min-width: 700px) {
    flex-direction: row;
  }
}
.introduction__menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: color 160ms $transition-easing;
  @media (min-width: 700px) {
    margin: 0 0 0 10px;
  }
}
.introduction__menu-item:hover,
.introduction__menu-item:focus {
  color: $yellow;
}
.introduction__menu-item:focus {
  outline: none;
}
.introduction__menu-item:not(:first-of-type)::before {
  @media (min-width: 700px) {
    content: '•';
    margin-right: 10px;
    color: #fff;
  }
}
.introduction__menu-item:hover::before,
.introduction__menu-item:focus::before {
  color: #fff;
}

.introduction__title,
.introduction__tagline,
.introduction__data,
.simple-bar,
.introduction__menu {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 160ms $transition-easing, transform 160ms $transition-easing;
}
@for $i from 1 through 5 {
  .introduction > *:nth-child(#{$i}) {
    transition: opacity 160ms #{160 * ($i - 1)}ms $transition-easing,
      transform 160ms #{160 * ($i - 1)}ms $transition-easing;
  }
}
.introduction--in-view .introduction__title,
.introduction--in-view .introduction__tagline,
.introduction--in-view .introduction__data,
.introduction--in-view .simple-bar,
.introduction--in-view .introduction__menu {
  opacity: 1;
  transform: none;
}
