.introduction {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.introduction__title {
  margin-bottom: 10px;
  @include title;
  font-family: $mono-font;
  animation: introduction-title-appearance 320ms $transition-easing;
}
@keyframes introduction-title-appearance {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.introduction__tagline {
  @include text;
  animation: introduction-tagline-appearance 480ms $transition-easing;
}
@keyframes introduction-tagline-appearance {
  0%,
  33% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.introduction__tagline > span {
  padding: 3px 5px;
  @include text(#fff, 11px, 14px);
  font-family: $mono-font;
  background-color: $primary-light;
  border-radius: 3px;
}
.introduction__data {
  display: flex;
  margin-top: 20px;
  animation: introduction-data-appearance 640ms $transition-easing;
}
@keyframes introduction-data-appearance {
  0%,
  50% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.introduction__data-item {
  display: flex;
  align-items: stretch;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}
.introduction__data-item-left,
.introduction__data-item-right {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: $primary-light;
  transition: color 160ms $transition-easing, background-color 160ms $transition-easing;
}
.introduction__data-item:hover .introduction__data-item-left,
.introduction__data-item:hover .introduction__data-item-right {
  color: $primary;
  background-color: $yellow;
}
.introduction__data-item-left {
  border-radius: 3px 0 0 3px;
}
.introduction__data-item-left > svg {
  width: 12px;
  height: 12px;
  fill: currentColor;
}
.introduction__data-item-right {
  font-size: 12px;
  font-family: $mono-font;
  border-radius: 0 3px 3px 0;
  border-left: 1px solid $primary;
}
.introduction__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  @media (min-width: 700px) {
    flex-direction: row;
  }
}
.introduction__menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: color 160ms $transition-easing;
  @media (min-width: 700px) {
    margin: 0 0 0 10px;
  }
}
.introduction__menu-item:hover {
  color: $yellow;
}
.introduction__menu-item:not(:first-of-type)::before {
  @media (min-width: 700px) {
    content: '•';
    margin-right: 10px;
  }
}
.introduction__menu-item:hover::before {
  color: #fff;
}
